  @import "https://unpkg.com/open-props/easings.min.css";

/*CSS RESET START*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/*CSS RESET END*/


:root {
    color-scheme: light;
    /* Colours */
    --color-bg-body: #fff;
    --color-text-primary: #000000;
    --color-bg-button: #ADADAD;
    --color-text-button: #FFFFFF;
    --color-bg-card: #F8f8f8;
    --color-bg-text: #F9FAFC;
    --icon-fill: var(--color-bg-card);
    --icon-fill-hover: var(--color-text-primary);
}

body {
    background: var(--color-bg-body);
    color: var(--color-text-primary);
}

.container {
    display: grid;
    justify-content: center;
    margin-top: 3rem;
    
/*    align-items: center;*/
/*    height: 100vh;*/
}

header {
    display: flex;
    justify-content: space-between;
}

label + button, input {
    margin-top: 2rem;
    display: block;
    width: 22rem;
}

input {
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background: var(--color-bg-text);
    box-shadow: 4px 6px 4px 2px rgba(0, 0, 0, 0.25), 2px 4px 0px 0px rgba(0, 0, 0, 0.25) inset;
}

label + button {
    background: var(--color-bg-button);
    color:var(--color-text-button);
    border: none;
    border-radius: 2rem;
    box-shadow: 4px 6px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    font-size: 1.5em;
}

header button {
    background: none;
    border: none;
}

label + button:hover {
    background: #000;
}

label + button:active {
    background: var(--color-bg-button);
}

.result-card {
    margin-top: 3rem;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    background: var(--color-bg-card);
    box-shadow: 2px 6px 4px 4px rgba(0, 0, 0, 0.25);    
}



/*TOGGLE THEME BUTTON START*/
.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover);
}

[data-theme="dark"] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@supports (cx: 1) {
  [data-theme="dark"] .sun-and-moon > .moon > circle {
    cx: 17;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform .5s var(--ease-elastic-3);
  }

  .sun-and-moon > .sun-beams {
    transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3);
  }

  .sun-and-moon .moon > circle {
    transition: transform .25s var(--ease-out-5);
  }

  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx .25s var(--ease-out-5);
    }
  }

  [data-theme="dark"] .sun-and-moon > .sun {
    transition-timing-function: var(--ease-3);
    transition-duration: .25s;
    transform: scale(1.75);
  }

  [data-theme="dark"] .sun-and-moon > .sun-beams {
    transition-duration: .15s;
    transform: rotateZ(-25deg);
  }

  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transition-duration: .5s;
    transition-delay: .25s;
  }
}

/*TOGGLE COLOR SCHEME END*/

/*COLOR SCHEMES*/
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --color-bg-body: #4A4E69;
    --color-text-primary: #FAE8FF;
    --color-bg-button: #22223B;
    --color-text-button: #FAE8FF;
    --color-bg-card: #383953;
    --color-bg-text: #ADADAD;
    --icon-fill: var(--color-text-button);
    --icon-fill-hover: #fff;
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="dark"] {
  color-scheme: dark;

    --color-bg-body: #fff;
    --color-text-primary: #000000;
    --color-bg-button: #ADADAD;
    --color-text-button: #FFFFFF;
    --color-bg-card: #F8f8f8;
    --icon-fill: var(--color-bg-button);
    --icon-fill-hover: var(--color-text-primary);
}

