.container {
    display: grid;
    justify-content: center;
    margin-top: 3rem;

    /*    align-items: center;*/
    /*    height: 100vh;*/
}

header {
    display: flex;
    justify-content: space-between;
}

label + button, input {
    margin-top: 2rem;
    display: block;
    width: 22rem;
}

input {
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background: var(--color-bg-text);
    box-shadow: 4px 6px 4px 2px rgba(0, 0, 0, 0.25), 2px 4px 0px 0px rgba(0, 0, 0, 0.25) inset;
}

label + button {
    background: var(--color-bg-button);
    color: var(--color-text-button);
    border: none;
    border-radius: 2rem;
    box-shadow: 4px 6px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    font-size: 1.5em;
}

label + button:hover {
    background: var(--color-bg-button-hover);
}

label + button:active {
    background: var(--color-bg-button);
}

.result-card {
    margin-top: 3rem;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    background: var(--color-bg-card);
    box-shadow: 2px 6px 4px 4px rgba(0, 0, 0, 0.25);
    outline-offset: 1rem;
}


/*COLOR SCHEMES*/
/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        color-scheme: dark;*/

/*        --color-bg-body: #4A4E69;*/
/*        --color-text-primary: #FAE8FF;*/
/*        --color-bg-button: #22223B;*/
/*        --color-bg-button-hover: hsl(246.81, 12.5%, 25%);*/
/*        --color-text-button: #FAE8FF;*/
/*        --color-bg-card: #383953;*/
/*        --color-bg-text: #ADADAD;*/
/*        --icon-fill: var(--color-text-button);*/
/*        --icon-fill-hover: #f0abfc;*/
/*    }*/
/*}*/

