/*CSS RESET START*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}
/*CSS RESET END*/

/* THEMING */
:root {
    color-scheme: light;
    /* Colours */
    --color-bg-body: #FFF7ED;
    --color-text-primary: #9A3412;
    --color-bg-button: #9A3412;
    --color-bg-button-hover: #7c2d12;
    --color-text-button: #FDBA74;
    --color-bg-card: #FED7AA;
    --color-bg-text: #F9FAFC;
    --icon-fill: var(--color-bg-button);
    --icon-fill-hover: var(--color-bg-button-hover);
}

body {
    background: var(--color-bg-body);
    color: var(--color-text-primary);
}

:root[data-theme="dark"] {
    color-scheme: dark;

    --color-bg-body: #4A4E69;
    --color-text-primary: #FAE8FF;
    --color-bg-button: #22223B;
    --color-bg-button-hover: hsl(246.81, 12.5%, 25%);
    --color-text-button: #FAE8FF;
    --color-bg-card: #383953;
    --color-bg-text: #ADADAD;
    --icon-fill: var(--color-text-button);
    --icon-fill-hover: #f0abfc;
}

:root[data-theme="light"] {
    color-scheme: light;
    /* Colours */
    --color-bg-body: #FFF7ED;
    --color-text-primary: #9A3412;
    --color-bg-button: #9A3412;
    --color-bg-button-hover: #7c2d12;
    --color-text-button: #FDBA74;
    --color-bg-card: #FED7AA;
    --color-bg-text: #F9FAFC;
    --icon-fill: var(--color-bg-button);
    --icon-fill-hover: var(--color-bg-button-hover);
}
